<nav class="navabar navbar-expand-lg navbar-dark bg-dark">
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="#">Rental Management System</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Location
        </a>
        <ul *ngIf="locationData" class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li *ngFor="let location of locationData, let i = index" class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" (click)="loadJQueryDropdown($event)">{{location.name}}</a>
            <ul class="dropdown-menu">
              <li *ngFor="let branch of location.branches">
                <a class="dropdown-item" (click)="openCatagories(branch)">{{branch.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
